*.o
*.tmp
.deps/
install/
sdas/as8xcxxx/Makefile
support/cpp/gcc/all-tree.def
support/cpp/gcc/as
support/cpp/gcc/bversion.h
support/cpp/gcc/collect-ld
support/cpp/gcc/dsymutil
support/cpp/gcc/gcc-driver-name.h
support/cpp/gcc/nm
support/cpp/gcc/omp-device-properties.h
support/cpp/gcc/option-includes.mk
support/cpp/gcc/pass-instances.def
support/cpp/gcc/plugin-version.h
support/cpp/gcc/version.h
support/cpp/libbacktrace/gstdint.h
support/sdbinutils/binutils/arlex.c
support/sdbinutils/binutils/arparse.c
support/sdbinutils/binutils/arparse.h
support/sdbinutils/binutils/defparse.c
support/sdbinutils/binutils/defparse.h
support/sdbinutils/binutils/mcparse.c
support/sdbinutils/binutils/mcparse.h
support/sdbinutils/binutils/rcparse.c
support/sdbinutils/binutils/rcparse.h
support/sdbinutils/binutils/sysinfo.c
support/sdbinutils/binutils/sysinfo.h
support/sdbinutils/binutils/syslex.c
*.lo
*.log
*.status
Makefile
stamp*
*.dep*
*.a
*.mk
